<!-- <p>create works!</p> -->

<h3>Save a product</h3>
<form (ngSubmit)="onSubmit()">
    
    <div class ="form-group">
        <label for="">name</label>
        <input type="text" class="form-control" id="name"
        [(ngModel)]="product.name" name="name">
    </div>
    <div class ="form-group">
        <label for="">description</label>
        <input type="text" class="form-control" id="description"
        [(ngModel)]="product.description" name="description">
    </div>
    <div class ="form-group">
        <label for="">qty</label>
        <input type="text" class="form-control" id="qty"
        [(ngModel)]="product.qty" name="qty">
    </div>
    <div class ="form-group">
        <label for="">price</label>
        <input type="text" class="form-control" id="price"
        [(ngModel)]="product.price" name="price">
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
</form>
